{% load static %}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Gutim Template">
    <meta name="keywords" content="Gutim, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gutim | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container">
            <div class="logo">
                <a href="{% url 'index' %}">
                    <img src="{% static 'img/logo.png' %}" alt="">
                </a>
            </div>
            <div class="nav-menu">
                <nav class="mainmenu mobile-menu">
                    <ul> 
                        <li class="{% if '/' == request.path %} active {% endif %}"><a href="{% url 'index' %}">Home</a></li>
                        <li class="{% if 'about' in request.path %} active {% endif %}"><a href="{% url 'about' %}">About</a></li>
                        <li class="{% if 'trainers' in request.path %} active {% endif %}"><a href="{% url 'trainers' %}">Trainers</a></li>
                        <li class="{% if 'blogs' in request.path %} active {% endif %}"><a href="{% url 'blogs' %}">Blogs</a></li>
                    </ul>
                </nav>
                <a href="{% if 'contact' in request.path %} active {% endif %}"><a href="{% url 'contact' %}" class="primary-btn signup-btn">Contact</a>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->
